{% extends "base.html" %}

{% block content %}

  <h1>Buggy</h1>

  <table>
   <tr>
     <td>ID:</td> <td> {{ buggy['id'] }} </td>
    </tr>
   <tr>
     <td>Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
    </tr>
   <tr>
      <td>Flag color:</td> <td> {{ buggy['flag_color'] }} </td>
     </tr>
   <tr>
      <td>Secondary flag color:</td> <td> {{ buggy['flag_color_secondary'] }} </td>
     </tr>
   <tr>
      <td>Flag pattern:</td> <td> {{ buggy['flag_pattern'] }} </td>
     </tr>
   <tr>
      <td>Power type:</td> <td> {{ buggy['power_type'] }} </td>
     </tr>
   <tr>
      <td>Power unit:</td> <td> {{ buggy['power_unit'] }} </td>
     </tr>
   <tr>
      <td>Auxiliary power type:</td> <td> {{ buggy['power_aux'] }} </td>
     </tr>
   <tr>
      <td>Auxiliary power unit:</td> <td> {{ buggy['power_aux_unit'] }} </td>
     </tr>
   <tr>
      <td>Hamster booster:</td> <td> {{ buggy['hamster_booster'] }} </td>
     </tr>
   
  </table>

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
