<!doctype html>

{% extends "base.html" %}

{% block content %}
  <head>
    <style>
      form {display:table; 
            margin:auto;}
      p {display:table-row;}
      label {display:table-cell}
      input {display:table-cell}
      select {display:table-cell}
      h1 {text-align:center;}
      a {display: table-cell; text-align:center;}
    </style>
  </head>
  <h1>Make buggy</h1>
  <p style = "color:red">
    {{ msg }}
  </p>

  <form action="/new" method="post">
      <p>
        <label for="qty_wheels">Number of wheels:</label>
        <input type="number" min=4 step=2 name="qty_wheels" value = "{{buggy ['qty_wheels']}}"/>
       </p>
      <p>
        <label for="flag_color">Primary flag color:</label>
        <input type="text" name="flag_color" value = "{{buggy ['flag_color']}}"/>
       </p>
       <p>  
        <label for="flag_pattern">Flag pattern:</label>
        <select name = "flag_pattern">
          <option value = "{{buggy['flag_pattern']}}" selected hidden>
            {{buggy['flag_pattern']}}
          <option>plain</option>
          <option>hstripe</option>
          <option>vstripe</option>
          <option>dstripe</option>
          <option>checker</option>
          <option>spot</option>
        </select>
       </p>
      <p>
        <label for="flag_color_secondary">Secondary flag color:</label>
        <input type="text" name="flag_color_secondary" value = "{{buggy ['flag_color_secondary']}}"/>
       </p>
      
      <p>  
        <label for="power_type">Primary motive power:</label>
        <select name = "power_type">
          <option value = "{{buggy['power_type']}}" selected hidden>
            {{buggy['power_type']}}
          <option>petrol</option>
          <option>fusion</option>
          <option>steam</option>
          <option>bio</option>
          <option>electric</option>
          <option>rocket</option>
          <option>hamster</option>
          <option>thermo</option>
          <option>solar</option>
          <option>wind</option>
        </select>
       </p>
      <p>  
        <label for="power_unit">Primary motive power units:</label>
        <input type="number" min=0 name="power_units" value = "{{buggy ['power_units']}}"/>
       </p>
      <p>
        <label for="aux_power_type">Auxiliary motive power:</label>
        <select name = "aux_power_type">
          <option value = "{{buggy['aux_power_type']}}" selected hidden>
            {{buggy['aux_power_type']}}
          <option>none</option>
          <option>petrol</option>
          <option>fusion</option>
          <option>steam</option>
          <option>bio</option>
          <option>electric</option>
          <option>rocket</option>
          <option>hamster</option>
          <option>thermo</option>
          <option>solar</option>
          <option>wind</option>
        </select>
       </p>
      <p>
        <label for="aux_power_unit">Auxiliary motive power units:</label>
        <input type="number" min=0 name="aux_power_units" value = "{{buggy ['aux_power_units']}}"/>
       </p>
      <p>
        <label for="hamster_booster">Hamster booster:</label>
        <input type="number" min=0 name="hamster_booster" value = "{{buggy ['hamster_booster']}}"/>
       </p>
      <p>
        <label for="tyres">Type of tyres:</label>
        <select name = "tyres">
          <option value = "{{buggy['tyres']}}" selected hidden>
            {{buggy['tyres']}}
          <option>knobbly</option>
          <option>slick</option>
          <option>steelband</option>
          <option>reactive</option>
          <option>maglev</option>
        </select>
       </p>
      <p>
        <label for="qty_tyres">Number of tyres:</label>
        <input type="number" min=4 step=2 name="qty_tyres" value = "{{buggy ['qty_tyres']}}"/>
       </p>
      <p>
        <label for="armour">Armour:</label>
        <select name = "armour">
          <option value = "{{buggy['armour']}}" selected hidden>
            {{buggy['armour']}}
          <option>none</option>
          <option>wood</option>
          <option>aluminium</option>
          <option>thinsteel</option>
          <option>thicksteel</option>
          <option>titanium</option>
        </select>
       </p>
      <p>
        <label for="attack">Offensive capability:</label>
        <select name = "attack">
          <option value = "{{buggy['attack']}}" selected hidden>
            {{buggy['attack']}}
          <option>none</option>
          <option>spike</option>
          <option>flame</option>
          <option>charge</option>
          <option>biohazard</option>
        </select>
       </p>
      <p>
        <label for="qty_attacks">Number of attacks:</label>
        <input type="number" min=0 name="qty_attacks" value = "{{buggy ['qty_attacks']}}"/>
       </p>
      <p>
        <label for="fireproof">Fireproof?:</label>
        <select name = "fireproof">
          <option value = "{{buggy['fireproof']}}" selected hidden>
            {{buggy['fireproof']}}
          <option>false</option>
          <option>true</option>
        </select>
       </p>
      <p>
        <label for="insulated">Insulated?:</label>
        <select name = "insulated">
          <option value = "{{buggy['insulated']}}" selected hidden>
            {{buggy['insulated']}}
          <option>false</option>
          <option>true</option>
        </select>
       </p>
      <p>
        <label for="antibiotic">Antibiotic?:</label>
        <select name = "antibiotic">
          <option value = "{{buggy['antibiotic']}}" selected hidden>
            {{buggy['antibiotic']}}
          <option>false</option>
          <option>true</option>
        </select>
       </p>
      <p>
        <label for="banging">Banging sound system?:</label>
        <select name = "banging">
          <option value = "{{buggy['banging']}}" selected hidden>
            {{buggy['banging']}}
          <option>false</option>
          <option>true</option>
        </select>
       </p>
      <p>
        <label for="algo">Race computer algorithm:</label>
        <select name = "algo">
          <option value = "{{buggy['algo']}}" selected hidden>
            {{buggy['algo']}}
          <option>steady</option>
          <option>defensive</option>
          <option>offensive</option>
          <option>titfortat</option>
          <option>random</option>
          <option>buggy</option>
        </select>
       </p>
      <P>
        <label for="total_cost">Total cost:</label>
        {{buggy['total_cost']}}
       </p> 
      <p>
        <a href="/" class="button">home</a>
        <input type="submit" class="button">
       </p>
  </form>
  <br>
  
{% endblock %}
