<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>
  <form action="/new" method="post">
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" />
    <br>
    <label for="flag_color">Flag color:</label>
    <input type="text" name="flag_color" />
    <br>
    <label for="flag_color_secondary">Secondary flag color:</label>
    <input type="text" name="flag_color_secondary" />
    <br>
    <label for="flag_pattern">Flag pattern:</label>
    <input type="text" name="flag_pattern" />
    <br>
    <label for="power_type">Power type:</label>
    <input type="text" name="power_type" />
    <br>
    <label for="power_unit">Power unit:</label>
    <input type="text" name="power_unit" />
    <br>
    <label for="power_aux">Auxiliary power type:</label>
    <input type="text" name="power_aux"/>
    <br>
    <label for="power_aux_unit">Auxiliary power units:</label>
    <input type="text" name="power_aux_unit"/>
    <br>
    <label for="hamster_booster">Hamster booster:</label>
    <input type="text" name="hamster_booster"/>
    <input type="submit" class="button">
  </form>
  <p>
    <a href="/" class="button">home</a>
   </p>
{% endblock %}
