<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>
  <form action="/new" method="post">
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" />
    <br>
    <label for="flag_color">Flag color:</label>
    <input type="text" name="flag_color" />
    <br>
    <label for="flag_color_secondary">Secondary flag color:</label>
    <input type="text" name="flag_color_secondary" />
    <br>
    <label for="flag_pattern">Flag pattern:</label>
    <input type="text" name="flag_pattern" />
    <br>
    <label for="power_type">Primary motive power:</label>
    <input type="text" name="power_type" />
    <br>
    <label for="power_unit">Primary motive power units:</label>
    <input type="text" name="power_units" />
    <br>
    <label for="aux_power_type">Auxiliary motive power:</label>
    <input type="text" name="aux_power_type"/>
    <br>
    <label for="aux_power_unit">Auxiliary motive power units:</label>
    <input type="text" name="aux_power_units"/>
    <br>
    <label for="hamster_booster">Hamster booster:</label>
    <input type="text" name="hamster_booster"/>
    <br>
    <label for="tyres">Type of tyres:</label>
    <input type="text" name="tyres"/>
    <br>
    <label for="qty_tyres">Number of tyres:</label>
    <input type="text" name="qty_tyres"/>
    <br>
    <label for="armour">Armour:</label>
    <input type="text" name="armour"/>
    <br>
    <label for="attack">Offensive capability:</label>
    <input type="text" name="attack"/>
    <br>
    <label for="qty_attack">Number of attacks:</label>
    <input type="text" name="qty_attack"/>
    <br>
    <label for="fireproof">Fireproof?:</label>
    <input type="text" name="fireproof"/>
    <br>
    <label for="insulated">Insulated?:</label>
    <input type="text" name="insulated"/>
    <br>
    <label for="antibiotic">Antibiotic?:</label>
    <input type="text" name="antibiotic"/>
    <br>
    <label for="banging">Banging sound system?:</label>
    <input type="text" name="banging"/>
    <br>
    <label for="algo">Race computer algorithm:</label>
    <input type="text" name="algo"/>

    <br>
    <input type="submit" class="button">
  </form>
  <p>
    <a href="/" class="button">home</a>
   </p>
{% endblock %}
